@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.hero-bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
    url('./assets/other-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-image {
  background-image:
    url('./assets/newimg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.map {
  background-image:
    url('./assets/map.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}